html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #E8E8E8;
    color: #000;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.main{
  animation: fadeIn .5s ease-in-out;
}

  .hero-icons a {
      transition: color 0.3s;
  }
  .responsive-image {
    background: #000;
    width: 100%; /* Make the image as wide as the parent div */
    height: auto; /* Keep the aspect ratio */
    margin: auto; /* Center the image */
    margin-bottom: 25px;
    display: block; /* Make the image a block element so it can be centered */
    border-radius: 10px; /* Add a corner radius to the image */
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
    position: relative; /* Add this line */
}

.responsive-image:hover {
  transform: scale(.97); /* Add this line */
  filter: blur(5px); /* Add this line */
  border-radius: 10px;
}

.project-img {
  position: relative;
  text-align: center;
}
.projects-section{
  padding-top: 150px;
}

.project-img:hover .centered {
  opacity: 1; /* Change visibility to opacity */
  border-radius: 10px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 98%; /* Add this line */
  height: 99%; /* Add this line */
  transform: translate(-50%, -50%);
  font-size: 2rem;
  text-align: center;
  opacity: 0;
  display: flex; /* Add this line */
  justify-content: center; /* Add this line */
  align-items: center; /* Add this line */
  transition: opacity 0.2s ease-in-out;
  border-radius: 10px; /* Add this line */
  background-color: rgba(255, 255, 255, 0.788); /* Add a semi-transparent black background */
}

.hero-content {
  display: flex;
  align-items: center;
}

.hero-image {
  width: 30%; /* Adjust as needed */
  min-width: 200px;
  height: 500px; /* Set an explicit height */
  background-size: cover;
  background-position: center;
}

.hero-bio {
  width: 50%; /* Adjust as needed */
  text-align: left;
  padding-left: 50px; /* Adjust as needed */
  color: #3d3d3d;
  font-size: .9rem;
}

.project-img:hover .centered {
  opacity: 1;
  border-radius: 10px;
  transform: translate(-50%, -50%); /* Combine the translate and scale transforms */
}

.centered-text {
  color: #3d3d3d;
  font-size: 1.5rem;
  text-align: center;
  padding: 50px;
  border-radius: 5px;
}


.project-img:hover .responsive-image {
  transform: scale(.97);
  border-radius: 10px;
  filter: blur(5px);
}

.project-img:hover .centered {
  visibility: visible;
  border-radius: 10px;
}

.project-text {
  color: #3d3d3d;
  font-size: 25px;
  position: relative;
  font-weight: 700;
}
.project-alt {
  color: #535353;
  position: relative;
  margin-left: 5%;
}
.project {
  display: flex;
  margin-bottom: 10%;
  align-items: center; /* Vertically align the children in the center */
}

  .banner {
    background: rgba(232, 232, 232, 0.7); /* Make the background semi-transparent */
    backdrop-filter: blur(10px); /* Blur the content behind the banner */
    -webkit-backdrop-filter: blur(10px);
    padding-left: 150px;
    padding-top: 25px;
    padding-bottom: 25px;
    position: fixed; /* Fixed at the top */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: top 0.3s ease-in-out;
  }
  
  .banner.hide {
    top: -100px; /* Adjust this value to match the height of your banner */
  }

  .banner-content {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  
  .logo {
    font-size: 20px;
    color: #000;
    margin: 0;
    margin-right: 20px;
    font-weight: 600;
  }
  
  .nav-link {
    text-decoration: none;
    color: #535353;
    margin-left: 35px;
    font-size: 20px;
    transition: color 0.3s;
  }

  .nav-link:hover {
    color: #A14848; /* Change the color when hovered */
}
  
  .nav-link.active {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border-radius: 22px;
    transition: background-color 0.3s, color 0.3s;
}

.hero-text {
    color: #3d3d3d;
    font-size: 2rem;
    position: relative;
    font-weight: 600;
    line-height: 150%;
}

.hero {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-top: 175px;
    margin-left: 500px;
    margin-right: 500px;
    box-sizing: border-box; /* Add this line */
}

.emojis{
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

.hero-icons a {
  color: inherit; /* Use the same color as the parent element */
  text-decoration: none; /* Remove the underline */
}

.hero-alt {
    display: block;
    color: #3d3d3d;
    font-size: 19px;
    position: relative;
    font-weight: 600;
    margin-top: 50px;
}

.hero-icons {
    padding-top: 35px;
    display: block;
    color: #000000;
}

.hero-icons a {
  transition: color 0.3s;
}

.hero-icons a:hover {
  color: #A14848; /* Change the color when hovered */
}

.hero-icons i {
    font-size: 1.5em; /* Increase the size of the icons */
    margin-right: 20px; /* Add spacing between the icons */
}

.hero-filler {
    color: #000000;
    font-size: 2rem;
    position: relative;
    font-weight: 600;
    line-height: 150%;
    padding-top: 20px;
}

.highlight {
    color: #A14848;
}


/* Large devices (desktops, less than 1200px) */
@media (max-width: 1580px) { 

  .hero {
    margin-left: 300px;
    margin-right: 300px;
  }

}


/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
  .banner {
    padding-left: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .nav-link {
    font-size: 18px;
    margin-left: 30px;
  }

  .hero {
    margin-left: 200px;
    margin-right: 200px;
  }

  .hero-bio {
    font-size: .9rem;
    padding-left: 25px;
  }

  .emojis{
    font-size: 1.5rem;
  }
  
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
  .banner {
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .nav-link {
    font-size: 16px;
    margin-left: 25px;
  }

  .hero {
    margin-left: 75px;
    margin-right: 75px;
  }

  .hero-bio {
    font-size: .9rem;
    padding-left: 25px;
  }

  .emojis{
    font-size: 1.4rem;
  }

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
  .banner {
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .nav-link {
    font-size: 14px;
    margin-left: 20px;
  }

  .hero {
    margin-left: 25px;
    margin-right: 25px;
  }

  .hero-bio {
    font-size: .9rem;
    width:100%;
    padding-right:25px;
    padding-top:5%;
  }

  .emojis{
    font-size: 1.3rem;
  }
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) { 
  .banner {
    padding-left: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .nav-link {
    font-size: 12px;
    margin-left: 15px;
  }

  .projects-section{
    padding-top: 100px;
  }

  .hero {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 125px;
  }
  .hero-text {
    font-size: 1.8rem;
  }
  .project-text {
    font-size: 1.2rem;
  }
  .project-alt {
    font-size: .8rem;
  }
  .hero-bio {
    font-size: .9rem;
    width:100%;
    padding-right:25px;
    padding-top:5%;
  }
  .hero-image {
    width:100%; /* Set an explicit height */
  }
  
  .hero-content {
    flex-direction: column;
  }
}