html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #E8E8E8;
    color: #000;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  
  .banner {
    background: #E8E8E8;
    padding: 10px 150px;
    position: fixed; /* Fixed at the top */
    top: 1%;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  
  .banner-content {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  
  .logo {
    font-size: 20px;
    color: #000;
    margin: 0;
    margin-right: 20px;
    font-weight: 600;
  }
  
  .nav-link {
    text-decoration: none;
    color: #2e2e2e;
    margin-left: 35px;
    font-size: 20px;
    transition: color 0.3s;
  }
  
  .nav-link.active {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border-radius: 22px;
    transition: background-color 0.3s, color 0.3s;
}

.hero-text {
    z-index: 1000;
    color: #000000;
    font-size: 2rem;
    position: relative;
    font-weight: 600;
    line-height: 150%;
}

.hero {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-top: 175px;
    margin-left: 400px;
    margin-right: 400px;
}

.hero-alt {
    padding-top: 50px;
    display: block;
    z-index: 1000;
    color: #000000;
    font-size: 19px;
    position: relative;
    font-weight: 600;
}

.hero-icons {
    padding-top: 35px;
    display: block;
    z-index: 1000;
    color: #000000;
}

.hero-icons i {
    font-size: 1.5em; /* Increase the size of the icons */
    margin-right: 20px; /* Add spacing between the icons */
}

.hero-filler {
    z-index: 1000;
    color: #000000;
    font-size: 2rem;
    position: relative;
    font-weight: 600;
    line-height: 150%;
    padding-top: 20px;
}

.highlight {
    color: #A14848;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
  .banner {
    padding: 10px 100px;
  }

  .nav-link {
    font-size: 18px;
    margin-left: 30px;
  }

  .hero {
    margin-left: 200px;
    margin-right: 200px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
  .banner {
    padding: 10px 50px;
  }

  .nav-link {
    font-size: 16px;
    margin-left: 25px;
  }

  .hero {
    margin-left: 100px;
    margin-right: 100px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
  .banner {
    padding: 10px 20px;
  }

  .nav-link {
    font-size: 14px;
    margin-left: 20px;
  }

  .hero {
    margin-left: 50px;
    margin-right: 50px;
  }
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) { 
  .banner {
    padding: 10px 10px;
  }

  .nav-link {
    font-size: 12px;
    margin-left: 15px;
  }

  .hero {
    margin-left: 20px;
    margin-right: 20px;
  }
}